{"name":"Athena","epithet":"Goddess of Wisdom","description":"Opponent’s Turn: If one of your Workers moved up on your last turn, opponent Workers cannot move up this turn.","movementsLeft":1,"constructionLeft":1,"mustObey":true,"startingSpaceDenied":false,"sameSpaceDenied":false,"activeOnMyMovement":false,"hotLastMoveDirection":"UP","moveIntoOpponentSpace":false,"forceOpponentInto":"NONE","deniedDirection":"NONE","activeOnOpponentMovement":true,"opponentDeniedDirection":"UP","activeOnMyConstruction":false,"buildBeforeMovement":false,"domeAtAnyLevel":false,"forceConstructionOnSameSpace":false,"newVictoryCondition":false}