{"name":"Atlas","epithet":"Titan Shouldering the Heavens","description":"Your Build: Your Worker may build a dome at any level.","movementsLeft":1,"constructionLeft":1,"mustObey":false,"startingSpaceDenied":false,"sameSpaceDenied":false,"activeOnMyMovement":false,"hotLastMoveDirection":"NONE","moveIntoOpponentSpace":false,"forceOpponentInto":"NONE","deniedDirection":"NONE","activeOnOpponentMovement":false,"opponentDeniedDirection":"NONE","activeOnMyConstruction":true,"buildBeforeMovement":false,"domeAtAnyLevel":true,"forceConstructionOnSameSpace":false,"newVictoryCondition":false}