{"name":"Hephaestus","epithet":"God of Blacksmiths","description":"Your Build: Your Worker may build one additional block (not dome) on top of your first block.","movementsLeft":1,"constructionLeft":2,"mustObey":false,"startingSpaceDenied":false,"sameSpaceDenied":false,"activeOnMyMovement":false,"hotLastMoveDirection":"NONE","moveIntoOpponentSpace":false,"forceOpponentInto":"NONE","deniedDirection":"NONE","activeOnOpponentMovement":false,"opponentDeniedDirection":"NONE","activeOnMyConstruction":true,"buildBeforeMovement":false,"domeAtAnyLevel":false,"forceConstructionOnSameSpace":true,"newVictoryCondition":false}