{"name":"Pan","epithet":"God of the Wild","description":"Win Condition: You also win if your Worker moves down two or more levels.","movementsLeft":1,"constructionLeft":1,"mustObey":true,"startingSpaceDenied":false,"sameSpaceDenied":false,"activeOnMyMovement":false,"hotLastMoveDirection":"DOWN","moveIntoOpponentSpace":false,"forceOpponentInto":"NONE","deniedDirection":"NONE","activeOnOpponentMovement":false,"opponentDeniedDirection":"NONE","activeOnMyConstruction":false,"buildBeforeMovement":false,"domeAtAnyLevel":false,"forceConstructionOnSameSpace":false,"newVictoryCondition":true,"hotLevelDepth":-2}