{"name":"Prometheus","epithet":"Titan Benefactor of Mankind","description":"Your Turn: If your Worker does not move up, it may build both before and after moving.","movementsLeft":1,"constructionLeft":2,"mustObey":false,"startingSpaceDenied":false,"sameSpaceDenied":false,"activeOnMyMovement":true,"hotLastMoveDirection":"UP","moveIntoOpponentSpace":false,"forceOpponentInto":"NONE","deniedDirection":"UP","activeOnOpponentMovement":false,"opponentDeniedDirection":"NONE","activeOnMyConstruction":true,"buildBeforeMovement":true,"domeAtAnyLevel":false,"forceConstructionOnSameSpace":false,"newVictoryCondition":false}