{"name":"Artemis","epithet":"Goddess of the Hunt","description":"Your Move: Your Worker may move one additional time, but not back to its initial space.","movementsLeft":2,"constructionLeft":1,"mustObey":false,"startingSpaceDenied":true,"sameSpaceDenied":false,"activeOnMyMovement":true,"hotLastMoveDirection":"NONE","moveIntoOpponentSpace":false,"forceOpponentInto":"NONE","deniedDirection":"NONE","activeOnOpponentMovement":false,"opponentDeniedDirection":"NONE","activeOnMyConstruction":false,"buildBeforeMovement":false,"domeAtAnyLevel":false,"forceConstructionOnSameSpace":false,"newVictoryCondition":false}