{"name":"Minotaur","epithet":"Bull-headed Monster","description":"Your Move: Your Worker may move into an opponent Worker’s space, if their Worker can be forced one space straight backwards to an unoccupied space at any level.","movementsLeft":1,"constructionLeft":1,"mustObey":false,"startingSpaceDenied":false,"sameSpaceDenied":false,"activeOnMyMovement":true,"hotLastMoveDirection":"NONE","moveIntoOpponentSpace":true,"forceOpponentInto":"SAME","deniedDirection":"NONE","activeOnOpponentMovement":false,"opponentDeniedDirection":"NONE","activeOnMyConstruction":false,"buildBeforeMovement":false,"domeAtAnyLevel":false,"forceConstructionOnSameSpace":false,"newVictoryCondition":false}