{"name":"Apollo","epithet":"God of Music","description":"Your Move: Your Worker may move into an opponent Worker’s space by forcing their Worker to the space yours just vacated.","movementsLeft":1,"constructionLeft":1,"mustObey":false,"startingSpaceDenied":false,"sameSpaceDenied":false,"activeOnMyMovement":true,"hotLastMoveDirection":"NONE","moveIntoOpponentSpace":true,"forceOpponentInto":"ANY","deniedDirection":"NONE","activeOnOpponentMovement":false,"opponentDeniedDirection":"NONE","activeOnMyConstruction":false,"buildBeforeMovement":false,"domeAtAnyLevel":false,"forceConstructionOnSameSpace":false,"newVictoryCondition":false}