{"name":"Demeter","epithet":"Goddess of the Harvest","description":"Your Build: Your Worker may build one additional time, but not on the same space.","movementsLeft":1,"constructionLeft":2,"mustObey":false,"startingSpaceDenied":false,"sameSpaceDenied":true,"activeOnMyMovement":false,"hotLastMoveDirection":"NONE","moveIntoOpponentSpace":false,"forceOpponentInto":"NONE","deniedDirection":"NONE","activeOnOpponentMovement":false,"opponentDeniedDirection":"NONE","activeOnMyConstruction":true,"buildBeforeMovement":false,"domeAtAnyLevel":false,"forceConstructionOnSameSpace":false,"newVictoryCondition":false}